@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Quicksand:wght@400;600&family=Roboto:wght@400;700&display=swap");
/*Reset styles*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Quicksand:wght@400;600&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Quicksand:wght@400;600&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Quicksand:wght@400;600&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Quicksand:wght@400;600&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Quicksand:wght@400;600&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Quicksand:wght@400;600&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Quicksand:wght@400;600&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Quicksand:wght@400;600&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Quicksand:wght@400;600&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Quicksand:wght@400;600&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Quicksand:wght@400;600&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Quicksand:wght@400;600&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Quicksand:wght@400;600&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Quicksand:wght@400;600&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Quicksand:wght@400;600&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Quicksand:wght@400;600&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Quicksand:wght@400;600&family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1.25;
  font-size: 12px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html.lock, body.lock {
  overflow: hidden;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*_______________________end reset styles________________________________*/
h1 {
  font-family: "Quicksand";
  font-size: 36px;
  color: #3D4F9F;
}

@media (min-width: 1024px) {
  h1 {
    font-size: 48px;
  }
}

h2 {
  font-size: 30px;
  color: #3D4F9F;
  font-family: "Quicksand";
}

@media (min-width: 1024px) {
  h2 {
    font-size: 36px;
  }
}

h3 {
  font-size: 20px;
  color: #3D4F9F;
  font-family: "Quicksand";
}

@media (min-width: 768px) {
  h3 {
    font-size: 24px;
    font-weight: 700;
  }
}

.flex {
  display: flex;
}

.button {
  font-family: "Quicksand";
  font-size: 13px;
  font-weight: 700;
  background: none;
  padding: 4px 5px;
  border-radius: 2px;
  color: #3A79FF;
  transition: background 0.3s;
}

.button:hover {
  background: #FFD7D7;
}

.button:active {
  background: #ffa4a4;
}

@media (min-width: 768px) {
  .button {
    padding: 7px 10px;
  }
}

@media (min-width: 1024px) {
  .button {
    padding: 13px 15px;
  }
}

.button.button__round {
  border-radius: 50%;
  box-shadow: 0 10px 50px rgba(201, 209, 231, 0.6);
}

.button.button__shadow {
  box-shadow: 0 5px 15px rgba(188, 199, 255, 0.75);
}

.button.button__border-minGray {
  border: 1px solid #ADB4D2;
}

.button.button_white {
  color: #ffffff;
}

.button.button_blueDark {
  color: #3A79FF;
}

.button.button_minGray {
  color: #ADB4D2;
}

.button.button_red {
  color: #D43F3F;
}

.button.button_bgLightBlue {
  background: #4D6CE1;
}

.button.button_bgLightBlue:hover {
  background: #7990e8;
}

.button.button_bgLightBlue:active {
  background: #a4b4f0;
}

.button.button_bgPink {
  background: #FFD7D7;
}

.button.button_bgPink:hover {
  background: #ffa4a4;
}

.button.button_bgPink:active {
  background: #ff7171;
}

.button.button_bgWhite {
  background: #ffffff;
}

.button.button_bgWhite:hover {
  background: #D2E1FF;
}

.button.button_bgWhite:active {
  background: #9fbfff;
}

.button.button_bgPaleBlue {
  background: #D2E1FF;
}

.button.button_bgPaleBlue:hover {
  background: #9fbfff;
}

.button.button_bgPaleBlue:active {
  background: #6c9dff;
}

.button.button_bgPaleGray {
  background: #E8ECF4;
}

.button.button_bgPaleGray:hover {
  background: #c6d0e4;
}

.button.button_bgPaleGray:active {
  background: #a3b3d3;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  flex-direction: column;
}

.content {
  flex: 1 1 auto;
  flex-wrap: wrap;
  padding-top: 47px;
}

.container {
  padding: 0 5px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 1023px;
    padding: 0 20px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1107px;
    padding: 0 30px;
  }
}

.header {
  position: fixed;
  width: 100%;
  max-height: 50px;
  top: 0;
  left: 0;
  z-index: 50;
  font-family: "Quicksand";
  border-bottom: 1px solid #D8E3FE;
}

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  z-index: 2;
}

.header__row {
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  position: relative;
}

@media (min-width: 768px) {
  .header__row {
    padding: 10px 0;
  }
}

@media (min-width: 1024px) {
  .header__row {
    padding: 27px 0;
  }
}

.header__left {
  align-items: center;
}

@media (min-width: 768px) {
  .header__left {
    flex-direction: row;
  }
}

.header__point {
  position: relative;
  z-index: 3;
  margin: 5px 0;
}

@media (min-width: 768px) {
  .header__point {
    margin-right: 20px;
  }
}

@media (min-width: 1024px) {
  .header__point {
    margin-right: 73px;
  }
}

.header__burger {
  margin-left: 20px;
  position: relative;
  z-index: 3;
  width: 30px;
  height: 20px;
}

.header__burger:before, .header__burger:after {
  content: '';
  background: #D43F3F;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  transition: all 0.3s;
}

.header__burger:before {
  top: 0;
}

.header__burger:after {
  bottom: 0;
}

.header__burger.active:before {
  transform: rotate(45deg);
  top: 9px;
}

.header__burger.active:after {
  transform: rotate(-45deg);
  bottom: 9px;
}

.header__burger.active span {
  transform: scale(0);
}

.header__burger span {
  background: #D43F3F;
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 9px;
  transition: all 0.3s;
}

@media (min-width: 768px) {
  .header__burger {
    display: none;
  }
}

.header__nav {
  background: #EFF4FF;
  position: fixed;
  overflow: auto;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 50px 0 0 20px;
  transition: all 0.3s;
  z-index: -1;
}

.header__nav.active {
  top: 0;
}

.header__nav ul li {
  margin-right: 5px;
}

@media (min-width: 768px) {
  .header__nav ul li {
    margin-right: 10px;
  }
}

@media (min-width: 1024px) {
  .header__nav ul li {
    margin-right: 42px;
  }
}

.header__nav ul li a {
  color: #697CA6;
}

.header__nav ul li a:hover {
  color: #D43F3F;
}

.header__nav ul li a:active {
  color: #3D4F9F;
}

.header__nav ul li:first-child p {
  color: #5E81FE;
}

.header__nav ul li:first-child p:hover {
  color: #D43F3F;
}

.header__nav ul li:first-child p:active {
  color: #3D4F9F;
}

.header__column {
  position: relative;
}

.header__name {
  cursor: pointer;
}

.header__name p {
  font-size: 30px;
  padding: 30px 0 0 20px;
}

.header__name:before, .header__name:after {
  content: '';
  width: 10px;
  height: 2px;
  border-radius: 30px;
  background-color: #8D96BD;
  position: absolute;
  top: 42px;
  transition: all 0.3s;
}

.header__name:before {
  transform: rotate(40deg);
  left: 0;
}

.header__name:after {
  transform: rotate(-40deg);
  left: 6px;
}

.header__name.active:before, .header__name.active:after {
  background-color: #3D4F9F;
}

.header__name.active:before {
  transform: rotate(-40deg);
}

.header__name.active:after {
  transform: rotate(40deg);
}

.header__name.active {
  color: #3D4F9F;
}

.header__elements {
  display: none;
  background: #EFF4FF;
  z-index: 10;
  padding: 1px 10px;
  font-size: 24px;
}

.header__elements ul li {
  margin: 10px;
}

.header__right {
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  .header__right {
    flex-direction: row;
  }
}

.header__social {
  display: flex;
  justify-content: space-around;
  margin: 5px 0;
}

.header__social img {
  width: 50px;
}

@media (min-width: 768px) {
  .header__social {
    margin-right: 20px;
  }
}

@media (min-width: 1024px) {
  .header__social {
    margin-right: 40px;
  }
}

.header__social a {
  display: inline-flex;
  margin-right: 5px;
}

@media (min-width: 768px) {
  .header__social a {
    margin-right: 10px;
  }
}

@media (min-width: 1024px) {
  .header__social a {
    margin-right: 35px;
  }
}

.header__button {
  position: relative;
  z-index: 3;
}

.footer {
  font-family: "Quicksand";
  padding: 20px 0;
  border-top: 1px solid #D2E1FF;
}

@media (min-width: 768px) {
  .footer {
    padding: 30px 0;
  }
}

@media (min-width: 1024px) {
  .footer {
    padding: 93px 0;
  }
}

.footer__row {
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 768px) {
  .footer__row {
    flex-direction: row;
  }
}

.footer__left {
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .footer__left {
    flex-direction: row;
  }
}

.footer__point {
  margin: 5px 0;
}

@media (min-width: 768px) {
  .footer__point {
    margin-right: 20px;
  }
}

@media (min-width: 1024px) {
  .footer__point {
    margin-right: 73px;
  }
}

.footer__nav {
  align-items: center;
  font-size: 12px;
}

.footer__nav ul li {
  margin-right: 5px;
}

@media (min-width: 768px) {
  .footer__nav ul li {
    margin-right: 10px;
  }
}

@media (min-width: 1024px) {
  .footer__nav ul li {
    margin-right: 42px;
  }
}

.footer__nav ul li a {
  color: #697CA6;
}

.footer__nav ul li a:hover {
  color: #D43F3F;
}

.footer__nav ul li a:active {
  color: #3D4F9F;
}

.footer__right {
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 768px) {
  .footer__right {
    flex-direction: row;
  }
}

.footer__social {
  margin: 5px 0;
}

@media (min-width: 768px) {
  .footer__social {
    margin-right: 20px;
  }
}

@media (min-width: 1024px) {
  .footer__social {
    margin-right: 40px;
  }
}

.footer__social a {
  display: inline-flex;
  margin-right: 5px;
}

@media (min-width: 768px) {
  .footer__social a {
    margin-right: 10px;
  }
}

@media (min-width: 1024px) {
  .footer__social a {
    margin-right: 35px;
  }
}

.footer__text p {
  font-size: 10px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #8D96BD;
  margin: 10px 0 0 40px;
}

@media (min-width: 768px) {
  .footer__text p {
    margin: 20px 0 0 50px;
  }
}

@media (min-width: 1024px) {
  .footer__text p {
    font-size: 12px;
    margin: 40px 0 0 100px;
  }
}

.top {
  background: url(../img/top/clouds.jpg) 0 0/100% 100% no-repeat;
}

.top__sliders .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top__sliders .slick-dots li {
  margin: 40px 10px 10px;
}

@media (min-width: 768px) {
  .top__sliders .slick-dots li {
    margin: 80px 10px 20px;
  }
}

@media (min-width: 1024px) {
  .top__sliders .slick-dots li {
    margin: 150px 10px 50px;
  }
}

.top__sliders .slick-dots li.slick-active button {
  background: #3A79FF;
}

.top__sliders .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  color: #697CA6;
  border-radius: 50%;
}

.top__mark {
  font-family: "Roboto";
  font-size: 10px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3D4F9F;
  text-align: center;
}

@media (min-width: 768px) {
  .top__mark {
    padding: 40px 0 8px 0;
  }
}

@media (min-width: 1024px) {
  .top__mark {
    padding: 92px 0 16px 0;
  }
}

.top__title {
  text-align: center;
}

.top__title span {
  font-weight: 700;
}

.top__text {
  max-width: 280px;
  margin: 5px auto;
  text-align: center;
  font-family: "Roboto";
  font-size: 12px;
  line-height: 1.93;
  letter-spacing: 0.03em;
  color: #697CA6;
}

@media (min-width: 768px) {
  .top__text {
    max-width: 360px;
    margin: 14px auto 10px;
  }
}

@media (min-width: 1024px) {
  .top__text {
    font-size: 15px;
    max-width: 502px;
    margin: 28px auto 20px;
  }
}

.top__button {
  display: table;
  margin: 0 auto;
}

.top__button a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.top__button img {
  margin-left: 2px;
  width: 80%;
}

@media (min-width: 1024px) {
  .top__button img {
    width: 100%;
  }
}

.sponsors__row {
  padding: 10px 0;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.sponsors__block {
  margin: 10px auto 5px;
  text-align: center;
}

@media (min-width: 1024px) {
  .sponsors__block {
    margin: 58px auto;
  }
}

.sponsors__block img {
  width: 60%;
}

@media (min-width: 1024px) {
  .sponsors__block img {
    width: 100%;
  }
}

.plan {
  background: linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%);
}

.plan__row {
  text-align: center;
  padding: 5px 0;
}

@media (min-width: 768px) {
  .plan__row {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
  }
}

@media (min-width: 1024px) {
  .plan__row {
    padding: 170px 0;
  }
}

.plan__material {
  font-family: "Roboto";
}

@media (min-width: 768px) {
  .plan__material {
    text-align: left;
  }
}

.plan__mark {
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3D4F9F;
}

.plan__subtitle span {
  font-weight: 700;
}

@media (min-width: 768px) {
  .plan__subtitle {
    margin: 15px 0;
  }
}

@media (min-width: 1024px) {
  .plan__subtitle {
    margin: 27px 0;
  }
}

.plan__text {
  font-size: 10px;
  line-height: 1.93;
  letter-spacing: 0.03em;
  color: #8D96BD;
  padding: 10px 0;
  max-width: 500px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .plan__text {
    max-width: 400px;
    margin-bottom: 15px;
    font-size: 12px;
  }
}

@media (min-width: 1024px) {
  .plan__text {
    max-width: 400px;
    margin-bottom: 47px;
    font-size: 15px;
  }
}

.plan__buttons {
  font-size: 0;
  margin-bottom: 10px;
}

.plan__buttons img {
  margin-top: 5px;
}

.plan__buttons a:first-child {
  border-radius: 2px 0 0 2px;
}

.plan__buttons a:last-child {
  padding: 3px 5px;
  border-radius: 0 2px 2px 0;
}

@media (min-width: 768px) {
  .plan__buttons a:last-child {
    padding: 6px 10px;
  }
}

@media (min-width: 1024px) {
  .plan__buttons a:last-child {
    padding: 12px 15px;
  }
}

.plan__picture {
  display: none;
}

@media (min-width: 768px) {
  .plan__picture {
    display: inline-block;
  }
  .plan__picture img {
    width: 90%;
    margin: -30px;
  }
}

@media (min-width: 768px) and (min-width: 1024px) {
  .plan__picture img {
    width: 100%;
    margin: -50px -80px 0 0;
  }
}

.about-us {
  font-family: "Open Sans";
}

.about-us__main {
  padding: 5px 0;
  text-align: center;
}

@media (min-width: 768px) {
  .about-us__main {
    padding: 70px 0;
  }
}

@media (min-width: 1024px) {
  .about-us__main {
    padding: 171px 0;
  }
}

.about-us__mark {
  font-family: "Roboto";
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3D4F9F;
}

.about-us__subtitle {
  margin: 5px 0 10px;
}

@media (min-width: 768px) {
  .about-us__subtitle {
    margin: 15px 0 40px;
    font-size: 24px;
    font-weight: 500;
  }
}

@media (min-width: 1024px) {
  .about-us__subtitle {
    margin: 20px 0 92px;
  }
}

.about-us__block {
  flex-wrap: wrap;
  justify-content: space-around;
}

.about-us__box {
  width: calc(100% / 2);
  padding: 5px;
}

@media (min-width: 768px) {
  .about-us__box {
    width: calc(100% / 4);
  }
}

.about-us__box__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;
  color: #4074F8;
}

.about-us__box__text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.72;
  color: #8D96BD;
  max-width: 200px;
  text-align: center;
  margin: 0 auto;
}

.about-us__buttons {
  justify-content: space-around;
  align-items: center;
  max-width: 300px;
  margin: 10px auto 0;
  position: relative;
}

@media (min-width: 768px) {
  .about-us__buttons {
    margin: 40px auto 0;
  }
}

@media (min-width: 1024px) {
  .about-us__buttons {
    margin: 92px auto 0;
  }
}

.about-us__buttons span {
  font-size: 11px;
  line-height: 1.72;
  color: #8D96BD;
  margin: 0 15px 0;
}

.about-us__buttons span:before, .about-us__buttons span:after {
  content: '';
  width: 10px;
  height: 1px;
  background: #8D96BD;
  position: absolute;
  top: 50%;
}

.about-us__buttons span:before {
  left: 41%;
}

.about-us__buttons span:after {
  right: 41%;
}

.statistic {
  font-family: "Quicksand";
  justify-content: center;
}

.statistic__left {
  background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
  flex-basis: 50%;
}

.statistic__right {
  background: linear-gradient(101.48deg, #E9EFFF 41.56%, #E0E9FF 81.53%);
  flex-basis: 50%;
}

.statistic__lBox {
  text-align: end;
  padding: 10px;
}

.statistic__lBox h1 {
  color: #ffffff;
}

.statistic__lBox p {
  color: #ffffff;
}

@media (min-width: 768px) {
  .statistic__lBox {
    padding: 45px;
  }
}

@media (min-width: 1024px) {
  .statistic__lBox {
    padding: 90px;
  }
}

.statistic__rBox {
  padding: 10px;
}

.statistic__rBox h1 {
  color: #5E80FF;
}

.statistic__rBox p {
  color: #5E80FF;
}

@media (min-width: 768px) {
  .statistic__rBox {
    padding: 45px;
  }
}

@media (min-width: 1024px) {
  .statistic__rBox {
    padding: 90px;
  }
}

@media (min-width: 768px) {
  .statistic__number {
    margin: 15px 0;
  }
}

@media (min-width: 1024px) {
  .statistic__number {
    margin: 25px 0;
  }
}

.resources {
  background: #F5F8FF;
}

.resources__block {
  text-align: center;
  font-family: "Roboto";
  padding: 10px 0;
}

@media (min-width: 768px) {
  .resources__block {
    padding: 20px 0;
  }
}

@media (min-width: 1024px) {
  .resources__block {
    padding: 100px 0;
  }
}

.resources__mark {
  font-size: 10px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3D4F9F;
}

.resources__title {
  padding: 5px;
}

@media (min-width: 1024px) {
  .resources__title {
    margin: 20px 0;
  }
}

.resources__slider {
  position: relative;
}

.resources__slider .slick-arrow {
  position: absolute;
  top: 40%;
  z-index: 10;
  font-size: 0;
  height: 60px;
  width: 30px;
}

.resources__slider .slick-arrow.slick-prev {
  left: 0;
  background: url(../img/resources/left.svg) 0 0/100% no-repeat;
}

.resources__slider .slick-arrow.slick-next {
  right: 0;
  background: url(../img/resources/right.svg) 0 0/100% no-repeat;
}

.resources__slider .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resources__slider .slick-dots li {
  margin: 20px 10px 0;
}

@media (min-width: 768px) {
  .resources__slider .slick-dots li {
    margin: 50px 10px 0;
  }
}

@media (min-width: 1024px) {
  .resources__slider .slick-dots li {
    margin: 100px 10px 0;
  }
}

.resources__slider .slick-dots li.slick-active button {
  background: #3A79FF;
}

.resources__slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  color: #697CA6;
  border-radius: 50%;
}

.resources__img {
  padding: 5px;
}

.resources__img img {
  width: 70%;
}

.resources__column {
  background: #FFFFFF;
  border: 1px solid #D8E3FE;
  box-shadow: 0 15px 50px #EFF4FF;
  max-width: 240px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .resources__column {
    min-width: 600px;
  }
}

@media (min-width: 1024px) {
  .resources__column {
    min-width: 850px;
    display: flex;
    padding: 20px;
  }
}

.resources__pictures {
  display: flex;
}

.resources__pictures img {
  width: 70%;
}

@media (min-width: 768px) {
  .resources__pictures {
    position: relative;
  }
}

@media (min-width: 1024px) {
  .resources__info {
    margin-left: 20px;
  }
}

.resources__video {
  background: url(../img/resources/main.jpg) 0 0 no-repeat;
  background-size: cover;
  width: 230px;
  margin: 0 auto;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resources__video a {
  display: block;
}

@media (min-width: 768px) {
  .resources__video {
    width: 300px;
    height: 300px;
    margin: 0 5px 0 0;
  }
}

.resources__picture1 {
  background: url(../img/resources/laptop.jpg) 0 0 no-repeat;
  background-size: cover;
  width: 140px;
  height: 140px;
}

.resources__picture2 {
  background: url(../img/resources/man.jpg) 0 0 no-repeat;
  background-size: cover;
  width: 140px;
  height: 140px;
}

@media (min-width: 768px) {
  .resources__picture2 {
    position: absolute;
    right: 1%;
    bottom: 1%;
  }
}

@media (min-width: 1024px) {
  .resources__picture2 {
    right: 0;
    bottom: 0;
  }
}

@media (min-width: 768px) {
  .resources__subtitle {
    padding: 10px 0;
  }
}

.resources__text {
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  color: #8D96BD;
  padding: 10px;
}

@media (min-width: 1024px) {
  .resources__text {
    margin: 20px 0 40px;
  }
}

.resources__buttons {
  margin: 10px 0;
}

@media (min-width: 768px) {
  .resources__buttons {
    margin: 20px 0;
  }
}

.none {
  display: none;
}

@media (min-width: 768px) {
  .none {
    display: block;
  }
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}

.quotes {
  background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);
  border-top: 1px solid #D8E3FE;
  border-bottom: 1px solid #D8E3FE;
  min-width: 0;
}

.quotes__column {
  padding: 20px 0;
}

@media (min-width: 768px) {
  .quotes__column {
    padding: 50px 0;
  }
}

@media (min-width: 1024px) {
  .quotes__column {
    display: flex;
    justify-content: space-around;
    padding: 110px 0;
  }
}

.quotes__main {
  font-family: "Roboto";
  text-align: center;
}

@media (min-width: 1024px) {
  .quotes__main {
    text-align: left;
    min-width: 325px;
  }
}

.quotes__mark {
  font-weight: 700;
  font-size: 10px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3D4F9F;
}

@media (min-width: 1024px) {
  .quotes__mark {
    padding-top: 20px;
  }
}

@media (min-width: 1024px) {
  .quotes__title {
    font-weight: 700;
    padding: 30px 0 15px;
  }
}

.quotes__under-title {
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 1.92;
  letter-spacing: 0.03em;
  color: #ADB4D2;
  padding-bottom: 20px;
}

@media (min-width: 1024px) {
  .quotes__under-title {
    max-width: 320px;
  }
}

.quotes__slider {
  min-width: 0;
}

.quotes__slider .slick-arrow {
  font-size: 0;
}

.quotes__slider .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quotes__slider .slick-dots li {
  margin: 20px 10px 0;
}

@media (min-width: 768px) {
  .quotes__slider .slick-dots li {
    margin: 30px 10px 0;
  }
}

@media (min-width: 1024px) {
  .quotes__slider .slick-dots li {
    margin: 50px 10px 0;
  }
}

.quotes__slider .slick-dots li.slick-active button {
  background: #3A79FF;
}

.quotes__slider .slick-dots button {
  font-size: 0;
  width: 5px;
  height: 5px;
  color: #697CA6;
  border-radius: 50%;
}

.quotes__box {
  background: #ffffff;
  border: 1px solid #D8E3FE;
  box-sizing: border-box;
  box-shadow: 0 5px 50px #EFF4FF;
  max-width: 530px;
  margin: 0 auto;
}

.quotes__text {
  text-align: center;
  font-family: "Roboto";
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: #697CA6;
  padding: 15px 15px 30px;
  max-width: 450px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .quotes__text {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  .quotes__text {
    padding: 40px 70px;
    text-align: left;
  }
  .quotes__text p {
    max-width: 285px;
  }
}

.quotes__photo {
  margin-top: -30px;
  text-align: center;
}

.questions {
  padding: 10px 0;
  text-align: center;
  font-family: "Quicksand";
}

@media (min-width: 768px) {
  .questions {
    padding: 30px 0;
  }
}

@media (min-width: 1024px) {
  .questions {
    padding: 100px 0;
  }
}

.questions__mark {
  font-family: "Roboto";
  font-size: 10px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3D4F9F;
  padding-bottom: 10px;
}

@media (min-width: 768px) {
  .questions__mark {
    padding-bottom: 20px;
  }
}

.questions__box {
  border-bottom: 1px solid #D8E3FE;
  max-width: 380px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .questions__box {
    max-width: 580px;
  }
}

.questions__question {
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.03em;
  color: #8D96BD;
  padding: 10px 0 5px;
  position: relative;
  cursor: pointer;
}

.questions__question p {
  padding-left: 25px;
}

.questions__question:before, .questions__question:after {
  content: '';
  width: 10px;
  height: 2px;
  border-radius: 30px;
  background-color: #8D96BD;
  position: absolute;
  top: 50%;
  transition: all 0.3s;
}

.questions__question:before {
  transform: rotate(40deg);
  left: 0;
}

.questions__question:after {
  transform: rotate(-40deg);
  left: 6px;
}

.questions__question.active:before, .questions__question.active:after {
  background-color: #3D4F9F;
}

.questions__question.active:before {
  transform: rotate(-40deg);
}

.questions__question.active:after {
  transform: rotate(40deg);
}

.questions__question.active {
  color: #3D4F9F;
}

@media (min-width: 768px) {
  .questions__question {
    padding: 20px 0 10px;
  }
}

.questions__answer {
  display: none;
}

@media (min-width: 1024px) {
  .questions__block {
    justify-content: space-around;
    align-content: center;
    align-items: flex-end;
    padding-bottom: 20px;
    display: flex;
  }
}

.questions__text {
  font-size: 12px;
  letter-spacing: 0.03em;
  color: #8D96BD;
  padding: 5px;
}

@media (min-width: 768px) {
  .questions__text {
    padding: 10px;
    font-size: 15px;
  }
}

@media (min-width: 1024px) {
  .questions__text {
    max-width: 300px;
    text-align: left;
  }
}

.questions__button {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .questions__button {
    margin-bottom: 20px;
  }
}

.started {
  background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
  font-family: "Roboto";
  text-align: center;
  color: #ffffff;
  padding: 15px 0;
}

@media (min-width: 768px) {
  .started {
    padding: 40px 0;
  }
}

@media (min-width: 1024px) {
  .started {
    padding: 90px 0;
  }
}

.started__mark {
  font-size: 10px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media (min-width: 1024px) {
  .started__mark {
    padding-bottom: 20px;
  }
}

.started__title h1 {
  color: #ffffff;
}

.started__title span {
  font-weight: 700;
}

.started__text {
  max-width: 325px;
  margin: 15px auto;
}

@media (min-width: 768px) {
  .started__text {
    max-width: 415px;
  }
}

@media (min-width: 1024px) {
  .started__text {
    max-width: 715px;
    margin: 30px auto 40px;
  }
}

.started__buttons {
  font-size: 0;
}

.started__buttons a:first-child {
  border-radius: 2px 0 0 2px;
}

.started__buttons a:last-child {
  padding: 3px 5px;
  border-radius: 0 2px 2px 0;
}

@media (min-width: 768px) {
  .started__buttons a:last-child {
    padding: 6px 10px;
  }
}

@media (min-width: 1024px) {
  .started__buttons a:last-child {
    padding: 12px 15px;
  }
}

.sign {
  text-align: center;
  padding: 20px 0;
}

@media (min-width: 768px) {
  .sign {
    padding: 60px 0;
  }
}

@media (min-width: 1024px) {
  .sign {
    padding: 115px 0;
  }
}

@media (min-width: 1024px) {
  .sign__column {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1024px) {
  .sign__info {
    text-align: left;
    max-width: 330px;
    margin-right: 80px;
  }
}

.sign__name {
  font-family: "Quicksand";
  font-weight: 700;
  font-size: 18px;
  color: #3D4F9F;
}

.sign__text {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.93;
  letter-spacing: 0.03em;
  color: #8D96BD;
  padding: 20px 0;
}

.sign__form {
  justify-content: center;
  align-items: center;
}

.sign__field input {
  font-family: "Quicksand";
  font-size: 13px;
  background: #D8E3FE;
  border-radius: 5px;
  padding: 4px;
  margin-right: 5px;
}

@media (min-width: 768px) {
  .sign__field input {
    padding: 7px;
    margin-right: 5px;
  }
}

@media (min-width: 1024px) {
  .sign__field input {
    padding: 14px;
    margin-right: 14px;
  }
}

.sign__button button {
  border-radius: 5px;
}
