@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Quicksand:wght@400;600&family=Roboto:wght@400;700&display=swap");
/*Reset styles*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Quicksand:wght@400;600&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Quicksand:wght@400;600&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Quicksand:wght@400;600&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Quicksand:wght@400;600&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Quicksand:wght@400;600&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Quicksand:wght@400;600&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Quicksand:wght@400;600&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Quicksand:wght@400;600&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Quicksand:wght@400;600&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Quicksand:wght@400;600&family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1.25;
  font-size: 12px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*_______________________end reset styles________________________________*/
h1 {
  font-family: "Quicksand";
  font-size: 36px;
  color: #3D4F9F;
}

@media (min-width: 1024px) {
  h1 {
    font-size: 48px;
  }
}

h2 {
  font-size: 30px;
  color: #3D4F9F;
  font-family: "Quicksand";
}

@media (min-width: 1024px) {
  h2 {
    font-size: 36px;
  }
}

h3 {
  font-size: 20px;
  color: #3D4F9F;
  font-family: "Quicksand";
}

.flex {
  display: flex;
}

.button {
  font-family: "Quicksand";
  font-size: 13px;
  font-weight: 700;
  background: none;
  padding: 4px 5px;
  border-radius: 2px;
  color: #3A79FF;
  transition: background 0.3s;
}

.button:hover {
  background: #FFD7D7;
}

.button:active {
  background: #ffa4a4;
}

@media (min-width: 768px) {
  .button {
    padding: 7px 10px;
  }
}

@media (min-width: 1024px) {
  .button {
    padding: 13px 15px;
  }
}

.button.button__round {
  border-radius: 50%;
  box-shadow: 0 10px 50px rgba(201, 209, 231, 0.6);
}

.button.button__shadow {
  box-shadow: 0 5px 15px rgba(188, 199, 255, 0.75);
}

.button.button__border-minGray {
  border: 1px solid #ADB4D2;
}

.button.button_white {
  color: #ffffff;
}

.button.button_blueDark {
  color: #3A79FF;
}

.button.button_minGray {
  color: #ADB4D2;
}

.button.button_red {
  color: #D43F3F;
}

.button.button_bgLightBlue {
  background: #4D6CE1;
}

.button.button_bgLightBlue:hover {
  background: #7990e8;
}

.button.button_bgLightBlue:active {
  background: #a4b4f0;
}

.button.button_bgPink {
  background: #FFD7D7;
}

.button.button_bgPink:hover {
  background: #ffa4a4;
}

.button.button_bgPink:active {
  background: #ff7171;
}

.button.button_bgWhite {
  background: #ffffff;
}

.button.button_bgWhite:hover {
  background: #D2E1FF;
}

.button.button_bgWhite:active {
  background: #9fbfff;
}

.button.button_bgPaleBlue {
  background: #D2E1FF;
}

.button.button_bgPaleBlue:hover {
  background: #9fbfff;
}

.button.button_bgPaleBlue:active {
  background: #6c9dff;
}

.button.button_bgPaleGray {
  background: #E8ECF4;
}

.button.button_bgPaleGray:hover {
  background: #c6d0e4;
}

.button.button_bgPaleGray:active {
  background: #a3b3d3;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  flex-direction: column;
}

.content {
  flex: 1 1 auto;
  flex-wrap: wrap;
}

.container {
  padding: 0 5px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 1023px;
    padding: 0 20px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1107px;
    padding: 0 30px;
  }
}

.header {
  font-family: "Quicksand";
  border-bottom: 1px solid #D8E3FE;
}

.header__row {
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  flex-direction: column;
}

@media (min-width: 768px) {
  .header__row {
    padding: 10px 0;
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .header__row {
    padding: 27px 0;
  }
}

.header__left {
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .header__left {
    flex-direction: row;
  }
}

.header__point {
  margin: 5px 0;
}

@media (min-width: 768px) {
  .header__point {
    margin-right: 20px;
  }
}

@media (min-width: 1024px) {
  .header__point {
    margin-right: 73px;
  }
}

.header__nav {
  align-items: center;
  font-size: 12px;
}

.header__nav ul li {
  margin-right: 5px;
}

@media (min-width: 768px) {
  .header__nav ul li {
    margin-right: 10px;
  }
}

@media (min-width: 1024px) {
  .header__nav ul li {
    margin-right: 42px;
  }
}

.header__nav ul li a {
  color: #697CA6;
}

.header__nav ul li a:hover {
  color: #D43F3F;
}

.header__nav ul li a:active {
  color: #3D4F9F;
}

.header__nav ul li:first-child a {
  color: #5E81FE;
}

.header__nav ul li:first-child a:hover {
  color: #D43F3F;
}

.header__nav ul li:first-child a:active {
  color: #3D4F9F;
}

.header__right {
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  .header__right {
    flex-direction: row;
  }
}

.header__social {
  margin: 5px 0;
}

@media (min-width: 768px) {
  .header__social {
    margin-right: 20px;
  }
}

@media (min-width: 1024px) {
  .header__social {
    margin-right: 40px;
  }
}

.header__social a {
  display: inline-flex;
  margin-right: 5px;
}

@media (min-width: 768px) {
  .header__social a {
    margin-right: 10px;
  }
}

@media (min-width: 1024px) {
  .header__social a {
    margin-right: 35px;
  }
}

.footer {
  font-family: "Quicksand";
  padding: 20px 0;
}

@media (min-width: 768px) {
  .footer {
    padding: 30px 0;
  }
}

@media (min-width: 1024px) {
  .footer {
    padding: 93px 0;
  }
}

.footer__row {
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 768px) {
  .footer__row {
    flex-direction: row;
  }
}

.footer__left {
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .footer__left {
    flex-direction: row;
  }
}

.footer__point {
  margin: 5px 0;
}

@media (min-width: 768px) {
  .footer__point {
    margin-right: 20px;
  }
}

@media (min-width: 1024px) {
  .footer__point {
    margin-right: 73px;
  }
}

.footer__nav {
  align-items: center;
  font-size: 12px;
}

.footer__nav ul li {
  margin-right: 5px;
}

@media (min-width: 768px) {
  .footer__nav ul li {
    margin-right: 10px;
  }
}

@media (min-width: 1024px) {
  .footer__nav ul li {
    margin-right: 42px;
  }
}

.footer__nav ul li a {
  color: #697CA6;
}

.footer__nav ul li a:hover {
  color: #D43F3F;
}

.footer__nav ul li a:active {
  color: #3D4F9F;
}

.footer__right {
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 768px) {
  .footer__right {
    flex-direction: row;
  }
}

.footer__social {
  margin: 5px 0;
}

@media (min-width: 768px) {
  .footer__social {
    margin-right: 20px;
  }
}

@media (min-width: 1024px) {
  .footer__social {
    margin-right: 40px;
  }
}

.footer__social a {
  display: inline-flex;
  margin-right: 5px;
}

@media (min-width: 768px) {
  .footer__social a {
    margin-right: 10px;
  }
}

@media (min-width: 1024px) {
  .footer__social a {
    margin-right: 35px;
  }
}

.footer__text p {
  font-size: 10px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #8D96BD;
  margin: 10px 0 0 40px;
}

@media (min-width: 768px) {
  .footer__text p {
    margin: 20px 0 0 50px;
  }
}

@media (min-width: 1024px) {
  .footer__text p {
    font-size: 12px;
    margin: 40px 0 0 100px;
  }
}

.top {
  background: url(../img/top/clouds.jpg) 0 0/100% 100% no-repeat;
}

.top__mark {
  font-family: "Roboto";
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3D4F9F;
  text-align: center;
}

@media (min-width: 768px) {
  .top__mark {
    padding: 40px 0 8px 0;
  }
}

@media (min-width: 1024px) {
  .top__mark {
    padding: 92px 0 16px 0;
  }
}

.top__title {
  text-align: center;
}

.top__title span {
  font-weight: 700;
}

.top__text {
  max-width: 280px;
  margin: 5px auto;
  text-align: center;
  font-family: "Roboto";
  font-size: 12px;
  line-height: 1.93;
  letter-spacing: 0.03em;
  color: #697CA6;
}

@media (min-width: 768px) {
  .top__text {
    max-width: 360px;
    margin: 14px auto 10px;
  }
}

@media (min-width: 1024px) {
  .top__text {
    font-size: 15px;
    max-width: 502px;
    margin: 28px auto 20px;
  }
}

.top__button {
  display: table;
  margin: 0 auto;
}

.top__button a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.top__button img {
  margin-left: 2px;
  width: 80%;
}

@media (min-width: 1024px) {
  .top__button img {
    width: 100%;
  }
}

.top__points {
  text-align: center;
  margin-top: 5px;
}

@media (min-width: 768px) {
  .top__points {
    padding: 76px 0 14px 0;
  }
}

@media (min-width: 1024px) {
  .top__points {
    padding: 176px 0 28px 0;
  }
}

.sponsors__row {
  padding: 10px 0;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.sponsors__block {
  margin: 10px auto 5px;
  text-align: center;
}

@media (min-width: 1024px) {
  .sponsors__block {
    margin: 58px auto;
  }
}

.sponsors__block img {
  width: 60%;
}

@media (min-width: 1024px) {
  .sponsors__block img {
    width: 100%;
  }
}

.plan {
  background: linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%);
}

.plan__row {
  text-align: center;
  padding: 5px 0;
}

@media (min-width: 768px) {
  .plan__row {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
  }
}

@media (min-width: 1024px) {
  .plan__row {
    padding: 170px 0;
  }
}

.plan__material {
  font-family: "Roboto";
}

@media (min-width: 768px) {
  .plan__material {
    text-align: left;
  }
}

.plan__mark {
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3D4F9F;
}

.plan__subtitle span {
  font-weight: 700;
}

@media (min-width: 768px) {
  .plan__subtitle {
    margin: 15px 0;
  }
}

@media (min-width: 1024px) {
  .plan__subtitle {
    margin: 27px 0;
  }
}

.plan__text {
  font-size: 10px;
  line-height: 1.93;
  letter-spacing: 0.03em;
  color: #8D96BD;
  padding: 10px 0;
  max-width: 500px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .plan__text {
    max-width: 400px;
    margin-bottom: 15px;
    font-size: 12px;
  }
}

@media (min-width: 1024px) {
  .plan__text {
    max-width: 400px;
    margin-bottom: 47px;
    font-size: 15px;
  }
}

.plan__buttons {
  font-size: 0;
  margin-bottom: 10px;
}

.plan__buttons img {
  margin-top: 5px;
}

.plan__buttons a:first-child {
  border-radius: 2px 0 0 2px;
}

.plan__buttons a:last-child {
  padding: 3px 5px;
  border-radius: 0 2px 2px 0;
}

@media (min-width: 768px) {
  .plan__buttons a:last-child {
    padding: 6px 10px;
  }
}

@media (min-width: 1024px) {
  .plan__buttons a:last-child {
    padding: 12px 15px;
  }
}

.plan__picture {
  display: none;
}

@media (min-width: 768px) {
  .plan__picture {
    display: inline-block;
  }
  .plan__picture img {
    width: 90%;
    margin: -30px;
  }
}

@media (min-width: 768px) and (min-width: 1024px) {
  .plan__picture img {
    width: 100%;
    margin: -50px -80px 0 0;
  }
}

.about-us {
  font-family: "Open Sans";
}

.about-us__main {
  padding: 5px 0;
  text-align: center;
}

.about-us__mark {
  font-family: "Roboto";
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3D4F9F;
}

.about-us__subtitle {
  margin: 5px 0 10px;
}

.about-us__block {
  flex-wrap: wrap;
  justify-content: space-around;
}

.about-us__box {
  width: calc(100%/2);
  padding: 5px;
}

.about-us__box__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;
  color: #4074F8;
}

.about-us__box__text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.72;
  color: #8D96BD;
  max-width: 200px;
  text-align: center;
  margin: 0 auto;
}

.about-us__buttons {
  margin-top: 10px;
}

.about-us__buttons span {
  font-size: 11px;
  line-height: 1.72;
  color: #8D96BD;
}
