@import "variables";
$offersColumn: 2;
$offersColumnSm: 4;
.about-us {
  font-family: $openSans;
  &__main {
    padding: 5px 0;
    text-align: center;
    @include sm {
      padding: 70px 0;
    }
    @include bg {
      padding: 171px 0;
    }
  }
  &__mark {
    font-family: $roboto;
    font-size: $fz10;
    line-height: 1.2;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $darkBlue;
  }
  &__subtitle{
    margin: 5px 0 10px;
    @include sm {
      margin: 15px 0 40px;
      font-size: $fz24;
      font-weight: 500;
    }
    @include bg {
      margin: 20px 0 92px;
    }
  }
  &__block {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  &__box {
    width: calc(100% / #{$offersColumn});
    padding: 5px;
    @include sm {
      width: calc(100% / #{$offersColumnSm});
    }
    &__picture {}
    &__title {
      font-weight: 700;
      font-size: 14px;
      line-height: 25px;
      color: $blueMid;
    }
    &__text {
      font-weight: 600;
      font-size: $fz11;
      line-height: 1.72;
      color: $lightGray;
      max-width: 200px;
      text-align: center;
      margin: 0 auto;
    }
  }
  &__buttons {
    justify-content: space-around;
    align-items: center;
    max-width: 300px;
    margin: 10px auto 0;
    position: relative;
    @include sm {
      margin: 40px auto 0;
    }
    @include bg {
      margin: 92px auto 0;
    }
    span {
      font-size: $fz11;
      line-height: 1.72;
      color: $lightGray;
      margin: 0 15px 0;
      &:before,
      &:after {
        content: '';
        width: 10px;
        height: 1px;
        background: $lightGray;
        position: absolute;
        top: 50%;
      }
      &:before {
        left: 41%;
      }
      &:after {
        right: 41%;
      }
    }
  }
}