@import "variables";

.button {
  font-family: $quicksand;
  font-size: $fz13;
  font-weight: 700;
  background: none;
  padding: 4px 5px;
  border-radius: 2px;
  color: $blueDark;
  transition: background 0.3s;
  &:hover {
    background:$pink;
  }
  &:active {
    background: darken($pink, 10%);
  }
  @include sm {
    padding: 7px 10px;
  }
  @include bg {
    padding: 13px 15px;
  }
  &.button__round {
    border-radius: 50%;
    box-shadow: 0 10px 50px rgba(201, 209, 231, 0.6);
  }

  &.button__shadow {
    box-shadow: 0 5px 15px rgba(188, 199, 255, 0.75);
  }

  &.button__border-minGray {
    border: 1px solid $minGray;
  }

  &.button_white {
    color: $white;
  }

  &.button_blueDark {
    color: $blueDark;
  }

  &.button_minGray {
    color: $minGray;
  }

  &.button_red {
    color: $red;
  }

  &.button_bgLightBlue {
    background: $lightBlue;
    &:hover {
      background: lighten($lightBlue, 10%);
    }
    &:active {
      background: lighten($lightBlue, 20%);
    }
  }

  &.button_bgPink {
    background: $pink;
    &:hover {
      background: darken($pink, 10%);
    }
    &:active {
      background: darken($pink, 20%);
    }
  }

  &.button_bgWhite {
    background: $white;
    &:hover {
      background: $paleBlue;
    }
    &:active {
      background: darken($paleBlue, 10%);
    }
  }

  &.button_bgPaleBlue {
    background: $paleBlue;
    &:hover {
      background: darken($paleBlue, 10%);
    }
    &:active {
      background: darken($paleBlue, 20%);
    }
  }

  &.button_bgPaleGray {
    background: $paleGray;
    &:hover {
      background: darken($paleGray, 10%);
    }
    &:active {
      background: darken($paleGray, 20%);
    }
  }
}
