.container {
  min-width: 410px;
  padding: 0 5px;
  margin: 0 auto;
  @media(min-width: 768px) {
      max-width: 1023px;
      padding: 0 10px;
  }
  @media(min-width: 1024px) {
      max-width: 1107px;
      padding: 0 20px;
    }
}