@import "variables";

.footer {
  font-family: $quicksand;
  padding: 20px 0;
  border-top: 1px solid $paleBlue;
  @include sm {
    padding: 30px 0;
  }
  @include bg {
    padding: 93px 0;
  }
  &__row {
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    @include sm {
      flex-direction: row;
    }
  }
  &__left {
    flex-direction: column;
    align-items: center;
    @include sm {
      flex-direction: row;
    }
  }
  &__point {
    margin: 5px 0;
    @include sm {
      margin-right: 20px;
    }
    @include bg {
      margin-right: 73px;
    }
  }
  &__nav {
    align-items: center;
    font-size: $fz12;
    ul {
      li {
        margin-right: 5px;
        @include sm {
          margin-right: 10px;
        }
        @include bg {
          margin-right: 42px;
        }
        a {
          color: $gray;
          &:hover {
            color: $red;
          }
          &:active {
            color: $darkBlue;
          }
        }
      }
    }
  }
  &__right {
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    @include sm {
      flex-direction: row;
    }
  }
  &__social {
    margin: 5px 0;
    @include sm {
      margin-right: 20px;
    }
    @include bg {
      margin-right: 40px;
    }
    a {
      display: inline-flex;
      margin-right: 5px;
      @include sm {
        margin-right: 10px;
      }
      @include bg {
        margin-right: 35px;
      }
    }
  }
  &__text p {
    font-size: $fz10;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: $lightGray;
    margin: 10px 0 0 40px;
    @include sm {
      margin: 20px 0 0 50px;
    }
    @include bg {
      font-size: $fz12;
      margin: 40px 0 0 100px;
    }
  }
}