@import "variables";

.header {
  background: $white;
  position: fixed;
  width: 100%;
  min-height: 50px;
  top: 0;
  left: 0;
  z-index: 50;
  font-family: $quicksand;
  border-bottom: 1px solid $blueLight;

  &__row {
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    @include sm {
      padding-top: 2px;
    }
  }

  &__point {
    width: 25px;
    height: 25px;
    background: blue;
    border-radius: 50%;
  }

  &__drop {
    order: -1;

    &:hover .header__nav {
      display: block;
    }

    &:hover .header__burger:before {
      transform: rotate(45deg);
      top: 9px;
    }

    &:hover .header__burger:after {
      transform: rotate(-45deg);
      bottom: 9px;
    }

    &:hover span {
      transform: scale(0);
    }

    @include sm {
      order: 0;
      &:hover .header__nav {
        display: flex;
      }
    }
  }

  &__burger {
    margin-right: 35px;
    position: relative;
    z-index: 3;
    width: 30px;
    height: 20px;


    &:before,
    &:after {
      content: '';
      background: $red;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s;
    }

    &:before {
      top: 0;
    }

    &:after {
      bottom: 0;
    }

    span {
      background: $red;
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 9px;
      transition: all 0.3s;
    }

    @include sm {
      display: none;
    }
  }

  &__nav {
    position: absolute;
    display: none;
    background: $shadow;
    margin: 15px -5px;
    padding: 20px;
    max-height: 340px;
    overflow: scroll;
    @include sm {
      max-height: none;
      overflow: inherit;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 80%;
      position: relative;
      background: inherit;
      padding: 0;
    }
  }

  &__links {
    li {
      display: block;
    }
    ul {
      @include sm {
        display: flex;
        align-items: center;
      }
    }
  }

  &__column {
    display: inline-block;
    position: relative;
    padding-right: 10px;
    margin-bottom: 20px;

    &:hover .header__elements {
      display: block;
    }
    &:hover .header__elements li {
      display: block;
    }

    &:before,
    &:after {
      content: '';
      width: 10px;
      height: 2px;
      border-radius: 30px;
      background-color: $lightGray;
      position: absolute;
      top: 9px;
      transition: all 0.3s;
      @include sm {
        top: 7px;
      }
    }

    &:before {
      transform: rotate(40deg);
      left: 0;
    }

    &:hover:before {
      transform: rotate(-40deg);
      background-color: $darkBlue;
    }

    &:after {
      transform: rotate(-40deg);
      left: 6px;
    }

    &:hover:after {
      transform: rotate(40deg);
      background-color: $darkBlue;
    }

    @include sm {
      margin-bottom: 0;
    }
  }

  &__name {
    cursor: pointer;
    font-size: $fz20;
    padding: 0 0 0 20px;
    @include sm {
      font-size: $fz12;
      padding: 0 0 0 20px;
    }

    &.active {
      color: $darkBlue;
    }
  }

  &__elements {
    display: none;
    position: relative;
    @include sm {
      position: absolute;
      background: $shadow;
      z-index: 5;
    }

    li {
      display: none;
    }
    a{
      padding: 10px 10px;
      display: block;
      color: $gray;

      &:hover {
        background: $border;
      }
    }
  }


  &__social {
    display: flex;
    justify-content: space-around;

    a {
      font-size: $fz20;
      color: $gray;
      display: inline-flex;
      margin-right: 5px;
      padding-top: 10px;
      @include sm {
        font-size: $fz12;
        margin-right: 10px;
        padding-top: 0;
      }
      @include bg {
        margin-right: 35px;
      }
    }

    a:hover {
      color: $blue;
    }
  }

  &__button {
    position: relative;
    z-index: 3;
  }
}

