@import "variables";
.sponsors {
  &__row {
    padding: 10px 0;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  &__block{
    margin: 10px auto 5px;
    text-align: center;
    @include bg {
      margin: 58px auto;
    }
    img {
      width: 60%;
      @include bg {
        width: 100%;
      }
    }
  }
}