@import "variables";

h1 {
  font-family: $quicksand;
  font-size: $fz36;
  color: $darkBlue;
  @include bg {
    font-size: $fz48;
  }
}
h2 {
  font-size: $fz30;
  color: $darkBlue;
  font-family: $quicksand;
  @include bg {
    font-size: $fz36;
  }
}
h3 {
  font-size: $fz20;
  color: $darkBlue;
  font-family: $quicksand;
  @include sm {
    font-size: $fz24;
    font-weight: 700;
  }
}
.flex {
  display: flex;
}

