@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Quicksand:wght@400;600&family=Roboto:wght@400;700&display=swap');

$blue: #5E81FE;
$gray: #697CA6;
$paleGray: #E8ECF4;
$darkBlue: #3D4F9F;
$blueDark: #3A79FF;
$paleBlue: #D2E1FF;
$pool: #4C85FF;
$palePool: #F5F8FF;
$lightGray: #8D96BD;
$minGray: #ADB4D2;
$red: #D43F3F;
$pink: #FFD7D7;
$white: #ffffff;
$lightBlue: #4D6CE1;
$blueLight: #D8E3FE;
$blueMid: #4074F8;
$statisticBlue: #5E80FF;
$border: #D8E3FE;
$shadow: #EFF4FF;
$gradient: linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%);
$blueGradient: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
$lightGradient: linear-gradient(101.48deg, #E9EFFF 41.56%, #E0E9FF 81.53%);
$quotesBg: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);

$fz48: 48px;
$fz36: 36px;
$fz30: 30px;
$fz24: 24px;
$fz20: 20px;
$fz18: 18px;
$fz15: 15px;
$fz14: 14px;
$fz13: 13px;
$fz12: 12px;
$fz11: 11px;
$fz10: 10px;

$roboto: "Roboto";
$openSans: "Open Sans";
$quicksand: "Quicksand";

$screen-sm-min: 768px;
$screen-bg-min: 1024px;

@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}
@mixin bg {
  @media (min-width: #{$screen-bg-min}) {
    @content;
  }
}